<h1>New Customer</h1>

<%= render 'form', customer: @customer %>

<!-- In your various views, you have links and submit buttons.
These should all be styled to look like Bootstrap buttons. -->
<!-- <ex link_to 'Show', person, class: "btn btn-primary"  -->
<%= link_to 'Back', customers_path, class: "btn btn-primary" %>
